<!-- <mat-chip-listbox aria-label="Fish selection">
  <mat-chip-option>One fish</mat-chip-option>
  <mat-chip-option>Two fish</mat-chip-option>
  <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
  <mat-chip-option color="warn">Warn fish</mat-chip-option>
</mat-chip-listbox>

<h1 title="Department"> abcd dept.</h1>

<form [formGroup]="findEmployeeForm">

   <mat-form-field appearance="outline" class="fixing-bottom-padding">
       <mat-label>Item count</mat-label>
       <input matInput type="text" placeholder="Item count" formControlName="employeeName">
   </mat-form-field>

</form>



<router-outlet></router-outlet> -->
<section class="overview">
  <h1>Overview</h1>
  <div id="chart"></div>
</section>
<section class="details">
  <app-employee-list
    [data]="salesList"
    department="Sales"
    (add)="add(salesList, $event)"
    (remove)="remove(salesList, $event)"
  ></app-employee-list>

  <app-employee-list
    [data]="rndList"
    department="R&D"
    (add)="add(rndList, $event)"
    (remove)="remove(rndList, $event)"
  ></app-employee-list>
</section>