<mat-chip-listbox aria-label="Fish selection">
  <mat-chip-option>One fish</mat-chip-option>
  <mat-chip-option>Two fish</mat-chip-option>
  <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
  <mat-chip-option color="warn">Warn fish</mat-chip-option>
</mat-chip-listbox>

<h1 title="Department"> abcd dept.</h1>

<form [formGroup]="findEmployeeForm">

   <mat-form-field appearance="outline" class="fixing-bottom-padding">
       <mat-label>Item count</mat-label>
       <input matInput type="text" placeholder="Item count" formControlName="employeeName">
   </mat-form-field>

</form>



<router-outlet></router-outlet>
